@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
.texts__pro, section.forms .container .heading, section.forms .container .form__title h3, section.forms .container .form__title footer .link__list .row ul li a, footer .link__list .row ul li section.forms .container .form__title a, section.forms .container .form__header h1, footer .link__list .row h3, footer .link__list .row ul li a, footer .brand__slogan .wrap h3, #add__new__item .container .save__cancel button p, #order__details__table .order__details .accordion .list-group .list-group-title button span, #order__details__table .order__details .accordion .list-group .list-group-title p, #order__details__table .order__details .accordion .sm__title .title, #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
  font-family: "Heebo", sans-serif;
  color: #353d4a;
}

body {
  overflow-x: hidden;
}
@media only screen and (min-width: 992px) {
  body {
    background-color: #f5f5f5;
  }
}

a,
button {
  outline: none;
}

p {
  margin-bottom: 0px;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1720px !important;
  }
}

.border__bottom, section.forms .container .radio__btns {
  border-bottom: 3px solid #d2d4d6 !important;
}

.border__top, section.forms .container .radio__btns {
  border-top: 3px solid #d2d4d6 !important;
}

label {
  color: #707070;
  font-weight: 600;
}

input {
  background-color: #F0F0F0 !important;
  border: 1px solid #8a8a8a;
}

:root {
  font-family: "Heebo", sans-serif;
}

.form__btn, .form__btn__black {
  width: 48%;
  max-width: 180px;
  color: white;
  background-color: #959dac;
  border-radius: 25px;
  padding: 0px 0px 3px 0px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .form__btn, .form__btn__black {
    padding: 2px 0px 5px 0px;
    font-size: 18px;
    width: 47%;
    max-width: initial;
  }
}
@media only screen and (min-width: 1400px) {
  .form__btn, .form__btn__black {
    font-size: 20px;
  }
}
.form__btn:hover, .form__btn__black:hover {
  background-color: #374051;
}

.form__btn__black {
  background-color: #374051;
}
.form__btn__black:hover {
  background-color: #959dac;
}

.para {
  font-size: calc(16px + (22 - 16) * ((100vw - 900px) / (1950 - 900)));
  color: #989898 !important;
}

.com_acco_head_sm {
  background-color: #374051;
  padding: 8px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .com_acco_head_sm {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
}
@media only screen and (min-width: 992px) {
  .com_acco_head_sm {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
.com_acco_head_sm h1 {
  font-size: 20px;
}

.active__mark {
  background-color: #262729;
}

#head {
  background-color: #383b3e;
}
@media only screen and (min-width: 1800px) {
  #head #navbar .container {
    max-width: 1830px !important;
  }
}
#head #navbar .row img {
  width: 50px;
}
@media only screen and (min-width: 992px) {
  #head #navbar .row img {
    width: 34px;
  }
}
#head #navbar .row .brand__icon {
  width: 115px;
}
@media only screen and (min-width: 1400px) {
  #head #navbar .row .brand__icon {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  #head #navbar .row .brand__icon {
    width: 168px;
  }
}
#head #navbar .user__section {
  position: relative;
}
#head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
  margin-left: 8px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
    margin-left: 15px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1800px) {
  #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
    font-size: 20px;
  }
}
#head #navbar .user__section .user .user__img {
  width: 25px;
}
@media only screen and (min-width: 1200px) {
  #head #navbar .user__section .user .user__img {
    width: 28px;
  }
}
@media only screen and (min-width: 1400px) {
  #head #navbar .user__section .user .user__img {
    width: 30px;
  }
}
#head #navbar .user__section .user .arrow {
  width: 18px;
}
#head #navbar #userArea {
  position: absolute;
  right: 0px;
  top: 66px;
  z-index: 2000;
  width: 250px;
}
#head #navbar #userArea ul li {
  font-weight: 400;
  font-size: 18px;
}
#head .sm__accordion {
  font-family: "Heebo", sans-serif;
  background-color: #262729;
}
#head .sm__accordion .file__icon {
  width: 25px;
}
#head .sm__accordion .file__texts {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}
#head .sm__accordion .sm__file__icon {
  width: 20px;
}
#head .sm__accordion .sm__file__text {
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  #order__details__table {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #order__details__table {
    margin-top: 75px;
  }
}
@media only screen and (min-width: 1400px) {
  #order__details__table {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #order__details__table {
    margin-top: 110px;
  }
}
#order__details__table .container {
  background-color: white;
}
#order__details__table .order__header .row {
  border-radius: 25px 25px 0px 0px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row {
    background-color: #374051;
  }
}
#order__details__table .order__header .row aside h2 {
  color: #353d4a !important;
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row aside h2 {
    color: white !important;
  }
}
#order__details__table .order__header .row aside .number {
  font-weight: 400;
}
#order__details__table .order__header .row .cus__border {
  border-bottom: 3px solid #d2d4d6;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row .cus__border {
    border-bottom: 3px solid transparent;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .collapse:not(.show) {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .btn:not(:disabled):not(.disabled) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #order__details__table .order__details .row {
    margin: 0px !important;
  }
}
#order__details__table .order__details .date .date__wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
@media only screen and (min-width: 400px) {
  #order__details__table .order__details .date .date__wrap {
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
  }
}
#order__details__table .order__details .date .order__sm__texts {
  color: #989898 !important;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .date .order__sm__texts {
    font-size: calc( 16px + (22 - 16) * ((100vw - 900px) / (1950 - 900)) );
  }
}
#order__details__table .order__details .date input {
  padding: 3px 8px;
  border: 1px solid #353d4a;
  margin-left: 0px;
  border-radius: 25px;
  margin-top: 5px;
}
#order__details__table .order__details .user__column .accordion {
  margin-top: 10px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .user__column .accordion {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .user__column .date {
    height: 44.5%;
  }
}
@media only screen and (min-width: 1400px) {
  #order__details__table .order__details .user__column .date {
    height: 38%;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .user__column #collapseOne {
    height: 50%;
  }
}
#order__details__table .order__details .accordion .sm__title {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 30px 1fr 3fr 20px;
  grid-template-rows: 1fr;
}
@media only screen and (min-width: 400px) {
  #order__details__table .order__details .accordion .sm__title {
    grid-template-columns: 45px 1fr 3fr 45px;
  }
}
#order__details__table .order__details .accordion .sm__title .title {
  font-weight: bold;
  color: #383b3e;
  font-size: 15px;
  text-transform: capitalize;
  justify-self: flex-start;
}
#order__details__table .order__details .accordion .sm__title .icon {
  width: 22px;
  justify-self: flex-start;
}
#order__details__table .order__details .accordion .sm__title .ord__title__btn {
  padding: 5px 12px;
  border-radius: 25px;
  justify-self: center;
  border: 1.2px solid #383b3e;
  color: #383b3e;
  font-weight: 400;
  font-size: 13px;
}
@media only screen and (min-width: 400px) {
  #order__details__table .order__details .accordion .sm__title .ord__title__btn {
    font-size: 15px;
  }
}
#order__details__table .order__details .accordion .sm__title .selected {
  color: #2bc454;
  border: 2px solid #2bc454;
  font-weight: bold;
}
#order__details__table .order__details .accordion .sm__title .accordion__icon {
  width: 20px;
}
#order__details__table .order__details .accordion .sm__title .accordion__icon img {
  width: 16px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .list-group .list-group-title {
    align-items: center;
  }
}
@media only screen and (min-width: 1400px) {
  #order__details__table .order__details .accordion .list-group .list-group-title {
    flex-direction: row !important;
  }
}
#order__details__table .order__details .accordion .list-group .list-group-title p {
  color: #353d4a;
  font-weight: bold;
  font-size: 20px;
}
#order__details__table .order__details .accordion .list-group .list-group-title button {
  border-radius: 25px;
  border: 2px solid green !important;
  padding: 2.5px 17px;
  transition: all 0.8s linear;
  background-color: transparent;
}
#order__details__table .order__details .accordion .list-group .list-group-title button img {
  width: 20px;
}
#order__details__table .order__details .accordion .list-group .list-group-title button span {
  font-weight: bold;
  color: green;
  margin-left: 10px;
}
#order__details__table .order__details .accordion .list-group .list-group-title button:hover {
  background-color: green;
}
#order__details__table .order__details .accordion .list-group .list-group-title button:hover span {
  color: white;
}
#order__details__table .order__details .accordion .list-group .list-group-item {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .list-group .list-group-item {
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .list-group .list-group-item:last-child {
    border-bottom: 2px solid transparent !important;
  }
}
#order__details__table .order__details .accordion .order__sm__texts,
#order__details__table .order__details .accordion .inputed__data {
  color: #989898 !important;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .order__sm__texts,
#order__details__table .order__details .accordion .inputed__data {
    font-size: calc( 16px + (22 - 16) * ((100vw - 900px) / (1950 - 900)) );
  }
}

#add__new__item .container .add {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #add__new__item .container .add {
    padding-bottom: 200px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #add__new__item .container .add {
    padding-bottom: 235px;
    padding-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #add__new__item .container .add {
    padding-bottom: 260px;
    padding-top: 85px;
  }
}
#add__new__item .container .add .plus__icon {
  width: 55px;
}
#add__new__item .container .add h1 {
  color: #383b3e;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
#add__new__item .container .save__cancel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 35px;
}
#add__new__item .container .save__cancel button {
  border: 0px;
  border-radius: 50px;
  padding: 15px 45px;
  background-color: #2bc454;
  display: flex;
  align-items: center;
}
#add__new__item .container .save__cancel button img {
  width: 30px;
}
#add__new__item .container .save__cancel button p {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 25px;
  color: white;
  margin-bottom: 0px !important;
  margin-left: 10px;
}
#add__new__item .container .save__cancel #cancel__btn {
  background-color: white;
  border: 1px solid #a3aab8;
  border-radius: 50px;
  padding: 7px 18px;
  margin-top: 25px;
}
#add__new__item .container .save__cancel #cancel__btn img {
  width: 13.5px;
}
#add__new__item .container .save__cancel #cancel__btn p {
  font-size: 16px;
  color: #a3aab8;
  font-weight: 300;
}

footer {
  background-color: #383b3e;
}
footer .brand__icon {
  width: 115px;
}
@media only screen and (min-width: 1400px) {
  footer .brand__icon {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .brand__icon {
    width: 168px;
  }
}
footer .container {
  padding-top: 75px;
  padding-bottom: 75px;
}
@media only screen and (min-width: 1200px) {
  footer .container {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .container {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .brand__slogan {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
footer .brand__slogan .wrap img {
  margin-bottom: 10px;
}
footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .link__list {
    max-width: 60%;
    flex: 0 0 60%;
  }
}
@media only screen and (min-width: 1800px) {
  footer .link__list {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1800px) {
  footer .link__list .row {
    justify-content: space-between;
  }
}
footer .link__list .row h3, footer .link__list .row ul li a {
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 1400px) {
  footer .link__list .row h3, footer .link__list .row ul li a {
    font-size: 17px;
  }
}
footer .link__list .row ul {
  list-style: none;
}
footer .link__list .row ul li a {
  display: block;
  color: #959dac;
}

#order__details__table .order__details .accordion .list-group .list-group-title .no__border__bg {
  border: 0px solid transparent !important;
}
#order__details__table .order__details .accordion .list-group .list-group-title .no__border__bg span {
  color: #353d4a;
}
#order__details__table .order__details .accordion .list-group .list-group-title .no__border__bg .icon__wrap {
  font-size: 18px;
  margin-left: 10px;
  color: #8c8c8d;
}
#order__details__table .order__details .accordion .list-group .list-group-title .no__border__bg .b__border__color {
  border: 2px solid #353d4a;
}

#order__details__table .order__details .accordion .list-group .list-group-title .b__border__color {
  border-color: #8c8c8d !important;
}
#order__details__table .order__details .accordion .list-group .list-group-title .b__border__color span {
  color: #353d4a;
}

#order__details__table .order__details .accordion .list-group .list-group-title .edit__icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #707070 !important;
  border: 0px solid transparent !important;
  margin-left: 10px;
}

@media only screen and (min-width: 1400px) {
  #order__details__table .order__details .accordion .list-group #force__column {
    flex-direction: column !important;
  }
}
@media only screen and (min-width: 1800px) {
  #order__details__table .order__details .accordion .list-group #force__column {
    flex-direction: row !important;
  }
}
#order__details__table .order__details .accordion .list-group #force__column .bottom {
  margin-top: 10px;
}
@media only screen and (min-width: 1800px) {
  #order__details__table .order__details .accordion .list-group #force__column .bottom {
    margin-top: 0px;
  }
}

section.forms {
  width: 100vw;
  min-height: 100vh;
  background-color: #686868;
  display: grid;
  align-items: center;
  justify-items: center;
}
section.forms label {
  color: #374051;
  text-transform: uppercase;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  section.forms label {
    font-size: 15px;
  }
}
section.forms .container .heading, section.forms .container .form__title h3, section.forms .container .form__title footer .link__list .row ul li a, footer .link__list .row ul li section.forms .container .form__title a, section.forms .container .form__header h1 {
  font-size: 17px;
}
@media only screen and (min-width: 768px) {
  section.forms .container .heading, section.forms .container .form__title h3, section.forms .container .form__title footer .link__list .row ul li a, footer .link__list .row ul li section.forms .container .form__title a, section.forms .container .form__header h1 {
    font-size: 21px;
  }
}
section.forms .container .row {
  max-width: 400px;
  transition: max-width 0.5s;
}
@media only screen and (min-width: 768px) {
  section.forms .container .row {
    max-width: 535px;
  }
}
section.forms .container .form__header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #374051;
}
section.forms .container .form__header h1 {
  line-height: 30px;
}
section.forms .container .form__header .close__btn {
  width: 20px;
}
section.forms .container .form__title span {
  color: #8c8c8d;
}
section.forms .container .form__body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 35px !important;
}
@media only screen and (min-width: 768px) {
  section.forms .container .form__body {
    padding-bottom: 50px !important;
  }
}
section.forms .container .form__header,
section.forms .container .form__body {
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (min-width: 768px) {
  section.forms .container .form__header,
section.forms .container .form__body {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
}
section.forms .container input {
  border-radius: 8px !important;
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  section.forms .container input {
    height: 32px;
  }
}
section.forms .container input::placeholder {
  font-size: 14px;
  transform: translateY(-2px);
}
@media only screen and (min-width: 768px) {
  section.forms .container input::placeholder {
    font-size: 14px;
  }
}
section.forms .container .form__btn, section.forms .container .form__btn__black {
  color: white;
}
section.forms .container .radio__btns {
  padding-top: 25px;
  padding-bottom: 25px;
}
section.forms .container .radio__btns input {
  height: initial;
}
section.forms .container .form-check .form-check-input {
  transform: scale(1.1);
}
@media only screen and (min-width: 768px) {
  section.forms .container .form-check .form-check-input {
    transform: scale(1.2);
  }
}
section.forms .container .form-check .form-check-label {
  color: #353d4a;
  font-size: 13px;
  transform: translateY(-3px);
  text-transform: none;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  section.forms .container .form-check .form-check-label {
    margin-left: 10px;
  }
}

#projectsSite .container .row {
  max-width: initial;
}
@media only screen and (min-width: 1400px) {
  #projectsSite .container .row {
    max-width: 1110px;
  }
}
@media only screen and (min-width: 992px) {
  #projectsSite .container .input__left,
#projectsSite .container .input__right {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
#projectsSite .container select {
  background-color: #f0f0f0;
  font-size: 15px;
  border-radius: 8px !important;
  font-weight: 500;
  color: #959dac;
}
@media only screen and (min-width: 768px) {
  #projectsSite .container select {
    height: 32px;
  }
}
#projectsSite .container select option {
  font-size: 15px;
}
#projectsSite .container select[target=_blank] {
  background-color: yellow;
}
#projectsSite .container label {
  font-size: 15px;
  color: #374051;
  font-weight: 400;
  text-transform: none !important;
}
#projectsSite .container label.cap {
  text-transform: capitalize !important;
}
#projectsSite .container label.bold,
#projectsSite .container .bold {
  font-weight: 700;
  color: #374051;
}
#projectsSite .container .border__color {
  color: #8c8c8d;
  text-decoration: underline;
  cursor: pointer;
}
#projectsSite .container .contact__icon {
  width: 21px;
}

.order__page__new__item__D .add {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.order__page__new__item__D .control__wrap .cus__btn, .order__page__new__item__D .control__wrap .cus__r__btn {
  border-radius: 25px;
  padding: 5px 15px;
  border: 1px solid #959dac;
  cursor: pointer;
  font-size: 18px;
}
.order__page__new__item__D .control__wrap .cus__r__btn {
  padding: 0px;
  width: 37px;
  height: 37px;
  display: grid !important;
  align-items: center;
  justify-items: center;
}

.order__tables {
  padding-bottom: 30px !important;
}
@media only screen and (min-width: 1800px) {
  .order__tables {
    padding-bottom: 40px !important;
  }
}
.order__tables table.table {
  border-left: 0.3px solid #d4d4d4;
  border-right: 0.3px solid #d4d4d4;
  border-bottom: 0.3px solid #d4d4d4;
}
.order__tables table.table thead tr {
  background-color: #e5e6ea !important;
}
.order__tables table.table tr {
  display: grid;
  grid-template-columns: 2.2fr 1.8fr 1.8fr 1.3fr 1.8fr 2.2fr 2.2fr 1.2fr 1.5fr 0.8fr 2.2fr 1.6fr 2fr;
}
.order__tables table.table tr:nth-child(even) {
  background-color: #e9eaea;
}
.order__tables table.table tr:nth-child(odd) {
  background-color: white;
}
.order__tables table.table tr td,
.order__tables table.table tr th {
  flex: 1;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.order__tables table.table tr td img,
.order__tables table.table tr th img {
  width: 30px;
}
.order__tables table.table tr td:first-child,
.order__tables table.table tr th:first-child {
  border-right: 0.3px solid #e6e4e4;
}
.order__tables table.table tr th {
  border-right: 0.3px solid #dddada !important;
  font-size: 12px;
}
@media only screen and (min-width: 1200px) {
  .order__tables table.table tr th {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 1400px) {
  .order__tables table.table tr th {
    padding-left: 8px;
    padding-right: 8px;
    text-align: left !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media only screen and (min-width: 1800px) {
  .order__tables table.table tr th {
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.order__tables table.table tr td {
  font-size: 13px;
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .order__tables table.table tr td {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1800px) {
  .order__tables table.table tr td {
    font-size: 17px;
  }
}
.order__tables table.table tr td:first-child {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (min-width: 1200px) {
  .order__tables table.table tr td:first-child {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 1400px) {
  .order__tables table.table tr td:first-child {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media only screen and (min-width: 1800px) {
  .order__tables table.table tr td:first-child {
    padding: 10px 20px;
  }
}
.order__tables table.table tr .search__icon {
  background: #8c8c8d;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 8px;
  color: white;
}
@media only screen and (min-width: 1400px) {
  .order__tables table.table tr .search__icon {
    width: 21px;
    height: 21px;
    font-size: 11px;
  }
}
.order__tables table.table tr .hei__icon {
  width: 8px;
  margin: 0;
  margin-top: -3px;
}
@media only screen and (min-width: 1400px) {
  .order__tables table.table tr .hei__icon {
    width: 9.5px;
  }
}
@media only screen and (min-width: 1800px) {
  .order__tables table.table tr .hei__icon {
    width: 11px;
  }
}
.order__tables table.table tr .fa-minus-circle {
  color: #959DAC;
}
.order__tables table.table tr .fa-check-circle {
  color: #6EDB93;
}
.order__tables .table__bottom .table__bottom__counter {
  background-color: #fdd7d7;
  width: 160px;
  border: 1px solid #eca7a7;
}
.order__tables .table__bottom .table__bottom__counter div {
  border-right: 1px solid #eca7a7;
  width: 50%;
  text-align: center;
  font-weight: 500;
  color: #f84343;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
}
@media only screen and (min-width: 1200px) {
  .order__tables .table__bottom .table__bottom__counter div {
    font-size: 14px;
  }
}
.order__tables .table__bottom .table__bottom__counter div:last-child {
  border-right: 0px;
}

.table__header {
  width: 300px;
  height: 40px;
}
@media only screen and (min-width: 1200px) {
  .table__header {
    height: 50px;
  }
}
.table__header .table__title {
  background-color: #374051;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.table__header .table__tit__btn a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
}
.table__header .table__title,
.table__header .table__tit__btn {
  width: 50%;
  height: 100%;
}
.table__header .table__title h2,
.table__header .table__tit__btn h2 {
  font-size: 20px;
}

@media only screen and (min-width: 1400px) {
  #cages__table {
    margin-top: 40px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #cages__table .container, #nets__table .container, #rebars__table .container {
    max-width: 100%;
  }
}
#cages__table .container .unit__sm, #nets__table .container .unit__sm, #rebars__table .container .unit__sm {
  font-size: 12px;
  color: #8c8c8d;
}
#cages__table .container .img__icon, #nets__table .container .img__icon, #rebars__table .container .img__icon {
  width: 20px;
}
@media only screen and (min-width: 1200px) {
  #cages__table .container .img__icon, #nets__table .container .img__icon, #rebars__table .container .img__icon {
    width: 22px;
  }
}
@media only screen and (min-width: 1400px) {
  #cages__table .container .img__icon, #nets__table .container .img__icon, #rebars__table .container .img__icon {
    width: 26px;
  }
}
@media only screen and (min-width: 1800px) {
  #cages__table .container .img__icon, #nets__table .container .img__icon, #rebars__table .container .img__icon {
    width: 31px;
  }
}

#nets__table table.table tr {
  grid-template-columns: 3fr 2.4fr 1.8fr 1.5fr 3.5fr 1.5fr 3fr 3fr 2fr 3fr;
}
#nets__table table.table th,
#nets__table table.table td {
  padding-left: 8px;
}
@media only screen and (min-width: 1400px) {
  #nets__table table.table th,
#nets__table table.table td {
    padding-left: 11px;
  }
}
@media only screen and (min-width: 1800px) {
  #nets__table table.table th,
#nets__table table.table td {
    padding-left: 15px;
  }
}
#nets__table table.table .hei__icon {
  width: 8px;
  margin: 0;
  margin-top: -2px;
  margin-right: 3px;
}
@media only screen and (min-width: 1400px) {
  #nets__table table.table .hei__icon {
    width: 9.5px;
  }
}
@media only screen and (min-width: 1800px) {
  #nets__table table.table .hei__icon {
    width: 11px;
  }
}
#nets__table table.table .hei__icon__last {
  margin-top: -2px;
  margin-left: 3px;
}
#nets__table table.table .img__icon {
  width: 30px;
}
@media only screen and (min-width: 1200px) {
  #nets__table table.table .img__icon {
    width: 35px;
  }
}
@media only screen and (min-width: 1400px) {
  #nets__table table.table .img__icon {
    font-size: 36px;
  }
}

#rebars__table table.table tr {
  grid-template-columns: 4fr 2.5fr 2.5fr 4.5fr 4fr 2fr 2fr 2fr 2.5fr 2fr 2.5fr;
}
#rebars__table table.table .img__icon {
  width: 40px;
}
#rebars__table table.table tr th:nth-child(4) .img__icon {
  width: 18px;
  margin-right: 5px;
}
#rebars__table table.table th,
#rebars__table table.table td {
  padding-left: 8px;
}
@media only screen and (min-width: 1400px) {
  #rebars__table table.table th,
#rebars__table table.table td {
    padding-left: 11px;
  }
}
@media only screen and (min-width: 1800px) {
  #rebars__table table.table th,
#rebars__table table.table td {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1400px) {
  #order__summary .container {
    display: flex;
    justify-content: flex-end;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media only screen and (min-width: 1800px) {
  #order__summary .w-ml-75 {
    width: 75% !important;
  }
}
#order__summary .descrip__title {
  font-size: 18px;
  font-weight: 700;
  color: #353d4a;
}
@media only screen and (min-width: 1400px) {
  #order__summary .descrip__title {
    font-size: 19.5px;
  }
}
@media only screen and (min-width: 1800px) {
  #order__summary .descrip__title {
    font-size: 22px;
  }
}
#order__summary .bottom__sec {
  height: 180px;
  width: 100%;
  margin-top: 25px;
}
#order__summary textarea.bottom__sec {
  border: 0px solid #484848;
  border-radius: 5px;
  padding: 22px;
  font-size: 17px;
  font-weight: 600;
}
#order__summary div.bottom__sec {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
#order__summary div.bottom__sec div h4 {
  font-size: 19px;
  margin: 0px;
}
#order__summary .order__summery__container .order__summery {
  background-color: #f0f0f0;
  margin-top: 25px;
  border-radius: 5px;
}
@media only screen and (min-width: 1400px) {
  #order__summary .order__summery__container .order__summery {
    margin-top: 0px;
  }
}
#order__summary .order__summery__container .order__summery h1 {
  font-size: 23px;
  margin-bottom: 20px !important;
  font-weight: 700;
}
@media only screen and (min-width: 1800px) {
  #order__summary .order__summery__container .order__summery h1 {
    font-size: 25px;
  }
}
#order__summary .order__summery__container .order__summery table {
  width: 100%;
}
#order__summary .order__summery__container .order__summery table thead tr th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 7px;
  padding-bottom: 7px;
}
#order__summary .order__summery__container .order__summery table tbody .bold {
  font-weight: 900;
}
#order__summary .order__summery__container .order__summery table tbody tr td {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#order__summary .order__summery__container .order__summery table tbody .border-top {
  border-top: 1px solid black !important;
}
#order__summary .order__summery__container .order__summery table tbody .border-bottom {
  border-bottom: 1px solid black !important;
}
#order__summary .order__summery__container .btn__list .btn {
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 125px;
  border-radius: 25px;
  background-color: #374051;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (min-width: 1400px) {
  #order__summary .order__summery__container .btn__list .btn {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1800px) {
  #order__summary .order__summery__container .btn__list .btn {
    font-size: 20px;
  }
}
#order__summary .order__summery__container .btn__list .btn:nth-child(1) {
  width: 35px;
  height: 35px;
  padding: 0px;
  border-radius: 50%;
  padding-bottom: 10px;
  background-color: #374051;
}
#order__summary .order__summery__container .btn__list .btn:nth-child(2) {
  background-color: #2bc454;
}
#order__summary .order__summery__container .btn__list .btn:nth-child(4) {
  background-color: #959dac;
}
#order__summary .ask__for__bid {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#order__summary .ask__for__bid .custom_collapse_btn {
  padding: 10px 22px;
  background-color: #484848;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
}

#askCollapse {
  padding: 25px;
}
#askCollapse ul {
  list-style: none;
  padding: 0px;
  padding-top: 10px;
}
@media only screen and (min-width: 1200px) {
  #askCollapse ul {
    margin-bottom: 0px !important;
  }
}
#askCollapse ul li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  #askCollapse ul li {
    margin-bottom: 6px;
  }
}
#askCollapse ul li input {
  margin-right: 10px;
}
#askCollapse ul li h6 {
  margin-bottom: 0px;
}

.order__table__sm {
  margin-bottom: 55px;
}
.order__table__sm .first-container {
  border-top: 2px solid #959dac;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .order__table__sm .first-container {
    padding-top: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .order__table__sm .first-container {
    padding-top: 30px;
  }
}
.order__table__sm .table__accordion__sm .accordion__header {
  background-color: #374051;
}
.order__table__sm .table__accordion__sm .accordion__header span img {
  width: 20px;
}
.order__table__sm .table__accordion__sm .accordion__body__sm {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 3fr 3fr 3fr;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell {
  border-right: 2px solid #d2d4d6 !important;
  border-bottom: 2px solid #d2d4d6 !important;
  border-top: 2px solid #d2d4d6 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell:last-child {
  border-right: 0px !important;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell p.para {
  font-size: 17px;
  line-height: 19px;
  font-weight: 500;
  color: black !important;
}
@media only screen and (min-width: 768px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell p.para {
    font-size: 19px;
  }
}
@media only screen and (min-width: 992px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell p.para {
    font-size: 22px;
    line-height: 20px;
  }
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .sm__unit {
  color: black;
  font-size: 0.7rem;
  line-height: 0.85rem;
}
@media only screen and (min-width: 600) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .sm__unit {
    font-size: 0.85rem;
    line-height: 0.95rem;
  }
}
@media only screen and (min-width: 992px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .sm__unit {
    font-size: 1rem;
    line-height: 1.05rem;
  }
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .img__wrap {
  display: flex;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .img__wrap img {
  width: 11px;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .img__wrap .bag {
  width: 14px;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .icon__wrap {
  display: flex;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .icon__wrap {
    font-size: 15px;
  }
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .top__row .cell .unit__icon__wrap {
  width: 35px;
  display: flex;
  align-items: center;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row {
  height: 140px;
}
@media only screen and (min-width: 425px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row {
    height: 190px;
  }
}
@media only screen and (min-width: 550px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row {
    height: 225px;
  }
}
@media only screen and (min-width: 768px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row {
    height: 250px;
  }
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row .img__wrap {
  height: 100%;
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row .img__wrap svg {
  max-width: 250px;
}
@media only screen and (min-width: 992px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row .img__wrap svg {
    max-width: 220px;
  }
}
.order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row .edit__wrap .edit__btn {
  border-radius: 20px;
  border: 1px solid #959dac;
  padding: 5px 10px;
  font-size: 15px;
  color: #959dac;
}
@media only screen and (min-width: 768px) {
  .order__table__sm .table__accordion__sm .accordion__body__sm .table__row .bottom__row .edit__wrap .edit__btn {
    font-size: 20px;
    padding: 7px 16px;
    border-radius: 28px;
  }
}
.order__table__sm .table__accordion__sm .accordion__footer .col-4 {
  border: 1px solid #f84343;
  border-right: 0px;
  background-color: #f5ecec;
  text-align: center;
  color: #f84343;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
}
.order__table__sm .table__accordion__sm .accordion__footer .col-4:last-child {
  border-right: 1px solid #f84343;
}
.order__table__sm .table__accordion__sm .accordion__footer .col-4 .red {
  font-weight: bold;
  font-size: 16.5px;
  margin-right: 5px;
  font-weight: 700;
}

#nets__table__sm .top__row {
  grid-template-columns: 0.75fr 2.25fr 1fr 1fr;
}
#nets__table__sm .cell {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#nets__table__sm .cell .d__cell__row {
  padding-top: 7px;
  padding-bottom: 7px;
}
#nets__table__sm .double__row__cell .d__cell__row {
  width: 100%;
  border-bottom: 2px solid #d2d4d6;
}
#nets__table__sm .double__row__cell .d__cell__row:last-child {
  border-bottom: 0px solid transparent;
}
#nets__table__sm .double__row__cell img {
  width: 11px;
  margin-left: 4px;
  margin-right: 4px;
}
#nets__table__sm .margin-right {
  margin-right: 4px;
}
#nets__table__sm .margin-bottom {
  margin-bottom: 5px;
}

#piles__table__sm .top__row {
  grid-template-columns: 1fr 1fr 2fr 2.5fr 1.7fr 1.7fr;
}
#piles__table__sm .d__cell__row {
  width: 100%;
  border-bottom: 2px solid #d2d4d6;
}
#piles__table__sm .d__cell__row:last-child {
  border-bottom: 0px solid transparent;
}
#piles__table__sm .double__row__cell {
  padding: 0px !important;
}
#piles__table__sm .double__row__cell .d__cell__row {
  width: 100%;
  border-bottom: 2px solid #d2d4d6;
  height: 40px;
}
#piles__table__sm .double__row__cell .d__cell__row:last-child {
  border-bottom: 0px solid transparent;
}
#piles__table__sm .double__row__cell img {
  width: 11px;
  margin-left: 4px;
  margin-right: 4px;
}
#piles__table__sm .margin-right {
  margin-right: 4px;
}
#piles__table__sm .margin-bottom {
  margin-bottom: 5px;
}

#order__summery__tittle {
  background-color: #374051;
}
#order__summery__tittle h1 {
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  #order__summery__tittle h1 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  #order__summery__tittle h1 {
    font-size: 26px;
  }
}

#order__details {
  padding-top: 10px;
}
#order__details .summ__detai__container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#order__details .summ__detai__container ul li {
  border-bottom: 2px solid #dedada;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  #order__details .summ__detai__container ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#order__details .summ__detai__container ul li p.para {
  font-size: 0.9rem;
  color: #262b33 !important;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  #order__details .summ__detai__container ul li p.para {
    font-size: 1rem;
  }
}
#order__details .summ__detai__container ul li p.para .unit {
  font-size: 0.65rem;
}
@media only screen and (min-width: 768px) {
  #order__details .summ__detai__container ul li p.para .unit {
    font-size: 0.7rem;
  }
}
#order__details .summ__detai__container ul li .icon__wrap {
  margin-right: 10px;
  font-size: 20px;
}
@media only screen and (min-width: 576px) {
  #order__details .summ__detai__container ul li .icon__wrap {
    font-size: 22px;
    margin-right: 15px;
  }
}
#order__details .summ__detai__container ul li .right .para {
  font-weight: 900;
  color: #374051 !important;
  font-size: 20px;
  font-family: Arial;
}
#order__details .summ__detai__container ul li textarea {
  border: 0px solid transparent;
  border-radius: 10px;
  background-color: #eeeeee82;
}
#order__details .summ__detai__container ul .border__bottom, #order__details .summ__detai__container ul section.forms .container .radio__btns, section.forms .container #order__details .summ__detai__container ul .radio__btns {
  border-bottom: 0px solid transparent !important;
}
#order__details .save__cancel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 35px;
}
@media only screen and (min-width: 576px) {
  #order__details .save__cancel {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 768px) {
  #order__details .save__cancel {
    padding-top: 135px;
    padding-bottom: 50px;
  }
}
#order__details .save__cancel button {
  border: 0px;
  border-radius: 50px;
  padding: 15px 45px;
  background-color: #2bc454;
  display: flex;
  align-items: center;
}
#order__details .save__cancel button img {
  width: 30px;
}
#order__details .save__cancel #save__btn p {
  font-family: "Heebo", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 25px;
  color: white;
  margin-bottom: 0px !important;
  margin-left: 10px;
}
#order__details .save__cancel #cancel__btn {
  background-color: white;
  border: 1px solid #a3aab8;
  border-radius: 50px;
  padding: 7px 18px;
  margin-top: 25px;
}
#order__details .save__cancel #cancel__btn img {
  width: 13.5px;
}
#order__details .save__cancel #cancel__btn p {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  color: #a3aab8;
  font-weight: 300;
  margin-left: 8px;
}

#order__summery__tittle.order__checkout {
  background-color: transparent;
}
#order__summery__tittle.order__checkout .container {
  background-color: #f2f2f2;
}
#order__summery__tittle.order__checkout .container h1 {
  font-weight: 900;
  color: #374051 !important;
}

#btn__list button {
  background-color: #2bc454;
  border: 0px solid transparent;
  border-right: 3px solid white;
  font-family: "Heebo", sans-serif;
}
#btn__list button:last-child {
  border-right: 3px solid #2bc454;
}
#btn__list button .bold {
  font-weight: 600;
}
@media only screen and (min-width: 576px) {
  #btn__list button .bold {
    font-size: 18px;
  }
}
#btn__list button .thin {
  font-weight: 400;
  font-size: 13px;
}
@media only screen and (min-width: 576px) {
  #btn__list button .thin {
    font-size: 14px;
  }
}

.tools {
  width: 100%;
  background-color: #5F6673;
  height: 100vh;
}
.tools .container .tools__wrapper {
  background-color: #374051;
}
.tools .container .tools__wrapper .top__section .link__wrap a {
  font-size: 20px;
}
.tools .container .tools__wrapper .close__wrapper .icon__wrap {
  font-size: 25px;
}

/*# sourceMappingURL=main.css.map */
