@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
.texts__pro, section.forms .container .heading, section.forms .container .form__title h3, section.forms .container .form__title footer .link__list .row ul li a, footer .link__list .row ul li section.forms .container .form__title a, section.forms .container .form__header h1, footer .link__list .row h3, footer .link__list .row ul li a, footer .brand__slogan .wrap h3, #add__new__item .container .save__cancel button p, #order__details__table .order__details .accordion .list-group .list-group-title button span, #order__details__table .order__details .accordion .list-group .list-group-title p, #order__details__table .order__details .accordion .sm__title .title, #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
  font-family: "Heebo", sans-serif;
  color: #353d4a;
}

body {
  overflow-x: hidden;
}
@media only screen and (min-width: 992px) {
  body {
    background-color: #f5f5f5;
  }
}

a,
button {
  outline: none;
}

p {
  margin-bottom: 0px;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1720px !important;
  }
}

.border__bottom, section.forms .container .radio__btns {
  border-bottom: 3px solid #d2d4d6 !important;
}

.border__top, section.forms .container .radio__btns {
  border-top: 3px solid #d2d4d6 !important;
}

label {
  color: #707070;
  font-weight: 600;
}

input {
  background-color: #F0F0F0 !important;
  border: 1px solid #8a8a8a;
}

:root {
  font-family: "Heebo", sans-serif;
}

.form__btn, .form__btn__black {
  width: 48%;
  max-width: 180px;
  color: white;
  background-color: #959DAC;
  border-radius: 25px;
  padding: 0px 0px 3px 0px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .form__btn, .form__btn__black {
    padding: 2px 0px 5px 0px;
    font-size: 18px;
    width: 47%;
    max-width: initial;
  }
}
@media only screen and (min-width: 1400px) {
  .form__btn, .form__btn__black {
    font-size: 20px;
  }
}
.form__btn:hover, .form__btn__black:hover {
  background-color: #374051;
}

.form__btn__black {
  background-color: #374051;
}
.form__btn__black:hover {
  background-color: #959DAC;
}

.active__mark {
  background-color: #262729;
}

#head {
  background-color: #383b3e;
}
@media only screen and (min-width: 1800px) {
  #head #navbar .container {
    max-width: 1830px !important;
  }
}
#head #navbar .row img {
  width: 50px;
}
@media only screen and (min-width: 992px) {
  #head #navbar .row img {
    width: 34px;
  }
}
#head #navbar .row .brand__icon {
  width: 115px;
}
@media only screen and (min-width: 1400px) {
  #head #navbar .row .brand__icon {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  #head #navbar .row .brand__icon {
    width: 168px;
  }
}
#head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
  margin-left: 8px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
    margin-left: 15px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1800px) {
  #head #navbar .user__section .user h3, #head #navbar .user__section .user footer .link__list .row ul li a, footer .link__list .row ul li #head #navbar .user__section .user a {
    font-size: 20px;
  }
}
#head #navbar .user__section .user .user__img {
  width: 25px;
}
@media only screen and (min-width: 1200px) {
  #head #navbar .user__section .user .user__img {
    width: 28px;
  }
}
@media only screen and (min-width: 1400px) {
  #head #navbar .user__section .user .user__img {
    width: 30px;
  }
}
#head #navbar .user__section .user .arrow {
  width: 18px;
}
#head .sm__accordion {
  font-family: "Heebo", sans-serif;
  background-color: #262729;
}
#head .sm__accordion .file__icon {
  width: 25px;
}
#head .sm__accordion .file__texts {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}
#head .sm__accordion .sm__file__icon {
  width: 20px;
}
#head .sm__accordion .sm__file__text {
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  #order__details__table {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #order__details__table {
    margin-top: 75px;
  }
}
@media only screen and (min-width: 1400px) {
  #order__details__table {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1800px) {
  #order__details__table {
    margin-top: 110px;
  }
}
#order__details__table .container {
  background-color: white;
}
#order__details__table .order__header .row {
  border-radius: 25px 25px 0px 0px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row {
    background-color: #374051;
  }
}
#order__details__table .order__header .row aside h2 {
  color: #353d4a !important;
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row aside h2 {
    color: white !important;
  }
}
#order__details__table .order__header .row aside .number {
  font-weight: 400;
}
#order__details__table .order__header .row .cus__border {
  border-bottom: 3px solid #d2d4d6;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row .cus__border {
    border-bottom: 3px solid transparent;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .collapse:not(.show) {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .btn:not(:disabled):not(.disabled) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #order__details__table .order__details .row {
    margin: 0px !important;
  }
}
#order__details__table .order__details .date .date__wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
@media only screen and (min-width: 400px) {
  #order__details__table .order__details .date .date__wrap {
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
  }
}
#order__details__table .order__details .date .order__sm__texts {
  color: #989898 !important;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .date .order__sm__texts {
    font-size: calc( 16px + (22 - 16) * ((100vw - 900px) / (1950 - 900)) );
  }
}
#order__details__table .order__details .date input {
  padding: 3px 8px;
  border: 1px solid #353d4a;
  margin-left: 0px;
  border-radius: 25px;
  margin-top: 5px;
}
#order__details__table .order__details .user__column .accordion {
  margin-top: 10px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .user__column .accordion {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .user__column .date {
    height: 44.5%;
  }
}
@media only screen and (min-width: 1400px) {
  #order__details__table .order__details .user__column .date {
    height: 38%;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .user__column #collapseOne {
    height: 50%;
  }
}
#order__details__table .order__details .accordion .sm__title {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 30px 1fr 3fr 20px;
  grid-template-rows: 1fr;
}
@media only screen and (min-width: 400px) {
  #order__details__table .order__details .accordion .sm__title {
    grid-template-columns: 45px 1fr 3fr 45px;
  }
}
#order__details__table .order__details .accordion .sm__title .title {
  font-weight: bold;
  color: #383b3e;
  font-size: 15px;
  text-transform: capitalize;
  justify-self: flex-start;
}
#order__details__table .order__details .accordion .sm__title .icon {
  width: 22px;
  justify-self: flex-start;
}
#order__details__table .order__details .accordion .sm__title .ord__title__btn {
  padding: 5px 12px;
  border-radius: 25px;
  justify-self: center;
  border: 1.2px solid #383b3e;
  color: #383b3e;
  font-weight: 400;
  font-size: 13px;
}
@media only screen and (min-width: 400px) {
  #order__details__table .order__details .accordion .sm__title .ord__title__btn {
    font-size: 15px;
  }
}
#order__details__table .order__details .accordion .sm__title .selected {
  color: #2bc454;
  border: 2px solid #2bc454;
  font-weight: bold;
}
#order__details__table .order__details .accordion .sm__title .accordion__icon {
  width: 20px;
}
#order__details__table .order__details .accordion .sm__title .accordion__icon img {
  width: 16px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .list-group .list-group-title {
    align-items: center;
  }
}
@media only screen and (min-width: 1400px) {
  #order__details__table .order__details .accordion .list-group .list-group-title {
    flex-direction: row !important;
  }
}
#order__details__table .order__details .accordion .list-group .list-group-title p {
  color: #353d4a;
  font-weight: bold;
  font-size: 20px;
}
#order__details__table .order__details .accordion .list-group .list-group-title button {
  border-radius: 25px;
  border: 2px solid green !important;
  padding: 2.5px 17px;
  transition: all 0.8s linear;
  background-color: transparent;
}
#order__details__table .order__details .accordion .list-group .list-group-title button img {
  width: 20px;
}
#order__details__table .order__details .accordion .list-group .list-group-title button span {
  font-weight: bold;
  color: green;
  margin-left: 10px;
}
#order__details__table .order__details .accordion .list-group .list-group-title button:hover {
  background-color: green;
}
#order__details__table .order__details .accordion .list-group .list-group-title button:hover span {
  color: white;
}
#order__details__table .order__details .accordion .list-group .list-group-item {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .list-group .list-group-item {
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .list-group .list-group-item:last-child {
    border-bottom: 2px solid transparent !important;
  }
}
#order__details__table .order__details .accordion .order__sm__texts,
#order__details__table .order__details .accordion .inputed__data {
  color: #989898 !important;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__details .accordion .order__sm__texts,
#order__details__table .order__details .accordion .inputed__data {
    font-size: calc( 16px + (22 - 16) * ((100vw - 900px) / (1950 - 900)) );
  }
}

#add__new__item .container .add {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #add__new__item .container .add {
    padding-bottom: 200px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #add__new__item .container .add {
    padding-bottom: 235px;
    padding-top: 70px;
  }
}
@media only screen and (min-width: 1400px) {
  #add__new__item .container .add {
    padding-bottom: 260px;
    padding-top: 85px;
  }
}
#add__new__item .container .add .plus__icon {
  width: 55px;
}
#add__new__item .container .add h1 {
  color: #383b3e;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
#add__new__item .container .save__cancel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 35px;
}
#add__new__item .container .save__cancel button {
  border: 0px;
  border-radius: 50px;
  padding: 15px 45px;
  background-color: #2bc454;
  display: flex;
  align-items: center;
}
#add__new__item .container .save__cancel button img {
  width: 30px;
}
#add__new__item .container .save__cancel button p {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 25px;
  color: white;
  margin-bottom: 0px !important;
  margin-left: 10px;
}
#add__new__item .container .save__cancel #cancel__btn {
  background-color: white;
  border: 1px solid #a3aab8;
  border-radius: 50px;
  padding: 7px 18px;
  margin-top: 25px;
}
#add__new__item .container .save__cancel #cancel__btn img {
  width: 13.5px;
}
#add__new__item .container .save__cancel #cancel__btn p {
  font-size: 16px;
  color: #a3aab8;
  font-weight: 300;
}

footer {
  background-color: #383b3e;
}
footer .brand__icon {
  width: 115px;
}
@media only screen and (min-width: 1400px) {
  footer .brand__icon {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .brand__icon {
    width: 168px;
  }
}
footer .container {
  padding-top: 75px;
  padding-bottom: 75px;
}
@media only screen and (min-width: 1200px) {
  footer .container {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .container {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .brand__slogan {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
footer .brand__slogan .wrap img {
  margin-bottom: 10px;
}
footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .link__list {
    max-width: 60%;
    flex: 0 0 60%;
  }
}
@media only screen and (min-width: 1800px) {
  footer .link__list {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1800px) {
  footer .link__list .row {
    justify-content: space-between;
  }
}
footer .link__list .row h3, footer .link__list .row ul li a {
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 1400px) {
  footer .link__list .row h3, footer .link__list .row ul li a {
    font-size: 17px;
  }
}
footer .link__list .row ul {
  list-style: none;
}
footer .link__list .row ul li a {
  display: block;
  color: #959dac;
}

section.forms {
  width: 100vw;
  min-height: 100vh;
  background-color: #686868;
  display: grid;
  align-items: center;
  justify-items: center;
}
section.forms label {
  color: #374051;
  text-transform: uppercase;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  section.forms label {
    font-size: 15px;
  }
}
section.forms .container .heading, section.forms .container .form__title h3, section.forms .container .form__title footer .link__list .row ul li a, footer .link__list .row ul li section.forms .container .form__title a, section.forms .container .form__header h1 {
  font-size: 17px;
}
@media only screen and (min-width: 768px) {
  section.forms .container .heading, section.forms .container .form__title h3, section.forms .container .form__title footer .link__list .row ul li a, footer .link__list .row ul li section.forms .container .form__title a, section.forms .container .form__header h1 {
    font-size: 21px;
  }
}
section.forms .container .row {
  max-width: 400px;
  transition: max-width 0.5s;
}
@media only screen and (min-width: 768px) {
  section.forms .container .row {
    max-width: 535px;
  }
}
section.forms .container .form__header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #374051;
}
section.forms .container .form__header h1 {
  line-height: 30px;
}
section.forms .container .form__header .close__btn {
  width: 20px;
}
section.forms .container .form__title span {
  color: #8c8c8d;
}
section.forms .container .form__body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 35px !important;
}
@media only screen and (min-width: 768px) {
  section.forms .container .form__body {
    padding-bottom: 50px !important;
  }
}
section.forms .container .form__header,
section.forms .container .form__body {
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (min-width: 768px) {
  section.forms .container .form__header,
section.forms .container .form__body {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
}
section.forms .container input {
  border-radius: 8px !important;
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  section.forms .container input {
    height: 32px;
  }
}
section.forms .container input::placeholder {
  font-size: 14px;
  transform: translateY(-2px);
}
@media only screen and (min-width: 768px) {
  section.forms .container input::placeholder {
    font-size: 14px;
  }
}
section.forms .container .form__btn, section.forms .container .form__btn__black {
  color: white;
}
section.forms .container .radio__btns {
  padding-top: 25px;
  padding-bottom: 25px;
}
section.forms .container .radio__btns input {
  height: initial;
}
section.forms .container .form-check .form-check-input {
  transform: scale(1.1);
}
@media only screen and (min-width: 768px) {
  section.forms .container .form-check .form-check-input {
    transform: scale(1.2);
  }
}
section.forms .container .form-check .form-check-label {
  color: #353d4a;
  font-size: 13px;
  transform: translateY(-3px);
  text-transform: none;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  section.forms .container .form-check .form-check-label {
    margin-left: 10px;
  }
}

#projectsSite .container .row {
  max-width: initial;
}
@media only screen and (min-width: 1400px) {
  #projectsSite .container .row {
    max-width: 1110px;
  }
}
@media only screen and (min-width: 992px) {
  #projectsSite .container .input__left,
#projectsSite .container .input__right {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
#projectsSite .container select {
  background-color: #f0f0f0;
  font-size: 15px;
  border-radius: 8px !important;
  font-weight: 500;
  color: #959dac;
}
@media only screen and (min-width: 768px) {
  #projectsSite .container select {
    height: 32px;
  }
}
#projectsSite .container select option {
  font-size: 15px;
}
#projectsSite .container select[target=_blank] {
  background-color: yellow;
}
#projectsSite .container label {
  font-size: 15px;
  color: #374051;
  font-weight: 400;
  text-transform: none !important;
}
#projectsSite .container label.cap {
  text-transform: capitalize !important;
}
#projectsSite .container label.bold,
#projectsSite .container .bold {
  font-weight: 700;
  color: #374051;
}
#projectsSite .container .border__color {
  color: #8c8c8d;
  text-decoration: underline;
  cursor: pointer;
}
#projectsSite .container .contact__icon {
  width: 21px;
}

/*# sourceMappingURL=main.css.map */
