@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
.texts__pro, footer .link__list .row h3, footer .link__list .row ul li a, footer .brand__slogan .wrap h3 {
  font-family: "Heebo", sans-serif;
  color: #353d4a;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1720px !important;
  }
}

#head {
  background-color: #383b3e;
}
#head #navbar .row img {
  width: 50px;
}
@media only screen and (min-width: 992px) {
  #head #navbar .row img {
    width: 34px;
  }
}
#head #navbar .row .brand__icon {
  width: 115px;
}
@media only screen and (min-width: 1400px) {
  #head #navbar .row .brand__icon {
    width: 135px;
  }
}
@media only screen and (min-width: 1800px) {
  #head #navbar .row .brand__icon {
    width: 150px;
  }
}
#head .sm__accordion {
  font-family: "Heebo", sans-serif;
  background-color: #262729;
}
#head .sm__accordion .file__icon {
  width: 25px;
}
#head .sm__accordion .file__texts {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}
#head .sm__accordion .sm__file__icon {
  width: 20px;
}
#head .sm__accordion .sm__file__text {
  font-size: 12px;
}

#order__details__table .order__header .row {
  border-radius: 25px 25px 0px 0px;
}
@media only screen and (min-width: 992px) {
  #order__details__table .order__header .row {
    background-color: #374051;
  }
}
#order__details__table .order__header .row aside h2 {
  color: #353d4a !important;
}
@media only screen and (min-width: 1200px) {
  #order__details__table .order__header .row aside h2 {
    color: white !important;
  }
}
#order__details__table .order__header .row .cus__border {
  border-bottom: 3px solid #d2d4d6;
}

footer {
  background-color: #383b3e;
}
footer .brand__icon {
  width: 115px;
}
@media only screen and (min-width: 1400px) {
  footer .brand__icon {
    width: 135px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .brand__icon {
    width: 150px;
  }
}
footer .container {
  padding-top: 75px;
  padding-bottom: 75px;
}
@media only screen and (min-width: 1200px) {
  footer .container {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .container {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1800px) {
  footer .brand__slogan {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
footer .brand__slogan .wrap img {
  margin-bottom: 10px;
}
footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .brand__slogan .wrap h3, footer .brand__slogan .wrap .link__list .row ul li a, footer .link__list .row ul li .brand__slogan .wrap a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  footer .link__list {
    max-width: 60%;
    flex: 0 0 60%;
  }
}
@media only screen and (min-width: 1800px) {
  footer .link__list {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1800px) {
  footer .link__list .row {
    justify-content: space-between;
  }
}
footer .link__list .row h3, footer .link__list .row ul li a {
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 1400px) {
  footer .link__list .row h3, footer .link__list .row ul li a {
    font-size: 17px;
  }
}
footer .link__list .row ul {
  list-style: none;
}
footer .link__list .row ul li a {
  display: block;
  color: #959dac;
}

/*# sourceMappingURL=style.css.map */
