
// colors
$main__text: #353d4a;
$dark__500: #383b3e;
$dark: #262729;
$border: #8c8c8d;
// form colors 
$formBg: #686868;
$header__bg: #374051;
$formInputbg: #F0F0F0;
$label: #707070;
$btn__black-500: #959DAC;
$btn__black: #374051;
