.order__page__new__item__D {
    .container {

    }
    .add  {
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
    // other control 
    .control__wrap {
        .cus__btn {
            border-radius: 25px;
            padding: 5px 15px;
            border: 1px solid #959DAC;
            cursor: pointer;
            font-size: 18px;
        }
        .cus__r__btn {
            @extend .cus__btn;
            padding: 0px;
            width: 37px;
            height: 37px;
            display: grid!important;
            align-items: center;
            justify-items: center;
        }
    }
}

// common table style 
.order__tables {
    table.table {
        tr {
            display: grid;
            grid-template-columns: 2.2fr 2fr 1.5fr 2fr 1fr 2.5fr 2.5fr 1fr 1fr 1fr 2fr 2fr 2fr;
            // grid-template-columns: repeat(13, auto);
            td , th{
                flex: 1;
                padding: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                }
            }
            th {
                font-size: 13px;
            }
        }
    }
}

// cages table 
#cages__table {
    .container {
        // @media only screen and (min-width: $md) and (max-width: $lg) {
        //     max-width: 95%;
        // }
    }
}