.order__page__new__item__D {
    .add {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    // other control
    .control__wrap {
        .cus__btn {
            border-radius: 25px;
            padding: 5px 15px;
            border: 1px solid #959dac;
            cursor: pointer;
            font-size: 18px;
        }
        .cus__r__btn {
            @extend .cus__btn;
            padding: 0px;
            width: 37px;
            height: 37px;
            display: grid !important;
            align-items: center;
            justify-items: center;
        }
    }
}

.order__tables {
    padding-bottom: 30px !important;
    @include resp($xxl) {
        padding-bottom: 40px !important;
    }
    table.table {
        border-left: 0.3px solid #d4d4d4;
        border-right: 0.3px solid #d4d4d4;
        border-bottom: 0.3px solid #d4d4d4;
        // table head
        thead {
            tr {
                background-color: #e5e6ea !important;
            }
        }
        // table row
        tr {
            display: grid;
            grid-template-columns: 2.2fr 1.8fr 1.8fr 1.3fr 1.8fr 2.2fr 2.2fr 1.2fr 1.5fr 0.8fr 2.2fr 1.6fr 2fr;

            // strip color
            &:nth-child(even) {
                background-color: #e9eaea;
            }
            &:nth-child(odd) {
                background-color: white;
            }
            // grid-template-columns: repeat(13, auto);
            // table head
            td,
            th {
                flex: 1;
                padding: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 6px;
                padding-bottom: 6px;
                img {
                    width: 30px;
                }
                &:first-child {
                    border-right: 0.3px solid #e6e4e4;
                }
            }
            // table head
            th {
                border-right: 0.3px solid #dddada !important;
                font-size: 12px;
                @include resp($lg) {
                    font-size: 13.5px;
                }
                @include resp($xl) {
                    padding-left: 8px;
                    padding-right: 8px;
                    text-align: left !important;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
                @include resp($xxl) {
                    font-size: 15px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
            // table data
            td {
                font-size: 13px;
                font-weight: 500;
                @include resp($lg) {
                    font-size: 14px;
                }
                @include resp($xl) {
                    // padding-left: 5px;
                    // padding-right: 5px;
                }
                @include resp($xxl) {
                    font-size: 17px;
                }
                &:first-child {
                    padding-left: 5px;
                    padding-right: 5px;
                    @include resp($lg) {
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                    @include resp($xl) {
                        padding-left: 11px;
                        padding-right: 11px;
                    }
                    @include resp($xxl) {
                        padding: 10px 20px;
                    }
                }
            }
            // custom search icon
            .search__icon {
                background: #8c8c8d;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                display: grid;
                align-items: center;
                justify-items: center;
                font-size: 8px;
                color: white;
                @include resp($xl) {
                    width: 21px;
                    height: 21px;
                    font-size: 11px;
                }
            }

            // hei icon
            .hei__icon {
                width: 8px;
                @include resp($xl) {
                    width: 9.5px;
                }
                @include resp($xxl) {
                    width: 11px;
                }
                margin: 0;
                margin-top: -3px;
            }

            // icon color
            .fa-minus-circle {
                color: $btn__black-500;
            }
            .fa-check-circle {
                color: $checkColor;
            }
        }
    }
    // table bottom
    .table__bottom {
        .table__bottom__counter {
            background-color: lighten($color: #f84343, $amount: 30);
            width: 160px;
            border: 1px solid #eca7a7;
            div {
                border-right: 1px solid #eca7a7;
                width: 50%;
                text-align: center;
                font-weight: 500;
                color: #f84343;
                padding-top: 4px;
                padding-bottom: 4px;
                font-size: 13px;
                @include resp($lg) {
                    font-size: 14px;
                }
                &:last-child {
                    border-right: 0px;
                }
            }
        }
    }
}

// table header
.table__header {
    width: 300px;
    height: 40px;
    @include resp($lg) {
        height: 50px;
    }
    // table title
    .table__title {
        background-color: $header__bg;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    // table btn
    .table__tit__btn {
        a {
            font-size: 15px;
            font-weight: 400;
            text-decoration: underline;
        }
    }
    // table title / table bnt
    .table__title,
    .table__tit__btn {
        width: 50%;
        height: 100%;
        h2 {
            font-size: 20px;
        }
    }
}

// cages table
#cages__table {
    @include resp($xl) {
        margin-top: 40px !important;
    }
}

// #cages__table .container {

// }
$tableContainerList: selector-nest(
    "#cages__table, #nets__table, #rebars__table",
    ".container"
);

#{$tableContainerList} {
    @media only screen and (min-width: $md) and (max-width: $lg) {
        max-width: 100%;
    }
    .unit__sm {
        font-size: 12px;
        color: $border;
    }
    // image icon
    // heading image
    .img__icon {
        width: 20px;
        @include resp($lg) {
            width: 22px;
        }
        @include resp($xl) {
            width: 26px;
        }
        @include resp($xxl) {
            width: 31px;
        }
    }
}

// ----------------------------- nets -----------------------------------------
#nets__table {
    table.table {
        // table row
        tr {
            grid-template-columns: 3fr 2.4fr 1.8fr 1.5fr 3.5fr 1.5fr 3fr 3fr 2fr 3fr;
        }
        // table head title
        th,
        td {
            padding-left: 8px;
            @include resp($xl) {
                padding-left: 11px;
            }
            @include resp($xxl) {
                padding-left: 15px;
            }
        }
        // hei icon
        .hei__icon {
            width: 8px;
            @include resp($xl) {
                width: 9.5px;
            }
            @include resp($xxl) {
                width: 11px;
            }
            margin: 0;
            margin-top: -2px;
            margin-right: 3px;
        }
        .hei__icon__last {
            margin-top: -2px;
            margin-left: 3px;
        }
        // image icon
        .img__icon {
            width: 30px;
            @include resp($lg) {
                width: 35px;
            }
            @include resp($xl) {
                font-size: 36px;
            }
        }
    }
}

// rebars table
#rebars__table {
    table.table {
        tr {
            grid-template-columns: 4fr 2.5fr 2.5fr 4.5fr 4fr 2fr 2fr 2fr 2.5fr 2fr 2.5fr;
            // grid-template-columns: repeat(11, 1fr);
        }
        // image icons
        .img__icon {
            width: 40px;
        }
        tr th {
            &:nth-child(4) {
                .img__icon {
                    width: 18px;
                    margin-right: 5px;
                }
            }
        }
        // table head title
        th,
        td {
            padding-left: 8px;
            @include resp($xl) {
                padding-left: 11px;
            }
            @include resp($xxl) {
                padding-left: 15px;
            }
        }
    }
}

// bottom order summery or checkout section ------------------------------------- >
#order__summary {
    .container {
        @include resp ($xl) {
            display: flex;
            justify-content: flex-end;
            padding-left: 0px!important;
            padding-right: 0px!important;
        }
    }
    .w-ml-75 {
        @include resp ($xxl) {
            width: 75%!important;
        }
    }
    // description title
    .descrip__title {
        font-size: 18px;
        font-weight: 700;
        color: #353d4a;
        @include resp($xl) {
            font-size: 19.5px;
        }
        @include resp($xxl) {
            font-size: 22px;
        }
    }
    // bottom sec
    .bottom__sec {
        height: 180px;
        width: 100%;
        margin-top: 25px;
    }
    textarea.bottom__sec {
        border: 0px solid #484848;
        border-radius: 5px;
        padding: 22px;
        font-size: 17px;
        font-weight: 600;
    }
    div.bottom__sec {
        // padding-bottom: 12px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        div {
            h4 {
                font-size: 19px;
                margin: 0px;
            }
        }
    }

    // order summery container
    .order__summery__container {
        // order summery
        .order__summery {
            background-color: #f0f0f0;
            margin-top: 25px;
            border-radius: 5px;
            @include resp ($xl) {
                margin-top: 0px;
            }
            h1 {
                font-size: 23px;
                margin-bottom: 20px !important;
                font-weight: 700;
                @include resp($xxl) {
                    font-size: 25px;
                }
            }
            // table style
            table {
                width: 100%;
                thead {
                    tr {
                        th {
                            border-top: 1px solid black;
                            border-bottom: 1px solid black;
                            padding-top: 7px;
                            padding-bottom: 7px;
                        }
                    }
                }
                // tbody
                tbody {
                    .bold {
                        font-weight: 900;
                    }
                    tr {
                        td {
                            border: none;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                    }

                    // border top
                    .border-top {
                        border-top: 1px solid black !important;
                    }
                    .border-bottom {
                        border-bottom: 1px solid black !important;
                    }
                }
            }
        }
        // order button
        .btn__list {
            .btn {
                padding: 0;
                padding-top: 6px;
                padding-bottom: 6px;
                width: 125px;
                border-radius: 25px;
                background-color: #374051;
                color: white;
                font-size: 18px;
                font-weight: 600;
                // border: 1.5px solid lighten($color: #000000, $amount: 20);
                @include resp($xl) {
                    font-size: 19px;
                }
                @include resp($xxl) {
                    font-size: 20px;
                }
                &:nth-child(1) {
                    width: 35px;
                    height: 35px;
                    padding: 0px;
                    border-radius: 50%;
                    padding-bottom: 10px;
                    background-color: #374051;
                    // border: 1.5px solid lighten($color: #374051, $amount: 30);
                }
                &:nth-child(2) {
                    background-color: #2bc454;
                }
                &:nth-child(4) {
                    background-color: #959dac;
                }
            }
        }
    }
    // custom collapse button
    .ask__for__bid {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        .custom_collapse_btn {
            padding: 10px 22px;
            background-color: #484848;
            color: white;
            text-align: center;
            border-radius: 25px;
            font-weight: 600;
        }
    }
}

// ask collapse container 
#askCollapse {
    padding: 25px;
    // untitle list 
    ul {
        list-style: none;
        padding: 0px;
        padding-top: 10px;
        @include resp (1200px) {
            margin-bottom: 0px!important;
        }
        li {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @include resp ($lg) {
                margin-bottom: 6px;
            }
            input {
                margin-right: 10px;
            }
            h6 {
                margin-bottom: 0px;
            }
        }
    }
}
