$mini__border: 0.3px solid black;

.cell__border__right {
    border-right: $mini__border;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .mini__cell {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // paragraph
    .para {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
.tools {
    // style
    width: 100%;
    background-color: #5f6673;
    min-height: 100vh;
    // common style
    .container {
        @media only screen and (min-width: $md) and (max-width: $lg) {
            // width: 100%!important;
            // max-width: 100%!important;
        }
    }
    p.para {
        font-size: 15px;
    }
    h4 {
        color: #374051;
        font-size: 20px;
        font-weight: bold;
    }
    h6 {
        font-size: 15px;
        color: #4e5055;
    }

    .container {
        .tools__wrapper {
            background-color: $header__bg;
            overflow: hidden;
            border-radius: 25px;
            // top section
            .top__section {
                .link__wrap {
                    a {
                        font-size: 20px;
                    }
                    .active {
                        border-bottom: 4px solid $red;
                    }
                }
            }
            // close section
            .close__wrapper {
                .icon__wrap {
                    font-size: 25px;
                    img {
                        width: 20px;
                    }
                }
            }
            // body section
            .tools__body {
                background-color: #f7f7f7;
                @include resp($xxl) {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row wrap;
                }
                // left
                .left {
                    background-color: #f7f7f7;
                    @include resp($xxl) {
                        width: 20% !important;
                    }
                }
 
                // filter section
                .filter {
                    // filter list 
                    .filter__list {
                        list-style: none;
                        li {
                            .icon__wrap {
                                width: 28px;
                                height: 28px;
                                color: $border;
                                border-radius: 50%;
                                border: 1px solid $border;
                            }
                        }
                    }
                    // twiker btn 
                    .btn-group {
                        button {
                            padding: 4px 16px!important;
                            color: black!important;
                            border: 1px solid black;
                            font-size: 14px;
                            background-color: white!important;
                        }
                        .active {
                            background-color: $header__bg!important;
                            color: white!important;
                        }
                    }
                }
                // shape list
                .shape__list {
                    .left__shaped {
                        // shape list
                        .shape__wrapper {
                            .tool__wrap {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background-color: $header__bg;
                                transition: background-color 0.3s;
                                cursor: pointer;
                                &:hover {
                                    background-color: $red;
                                }
                                img {
                                    width: 50%;
                                }
                            }
                            .active {
                                background-color: $red;
                            }
                        }
                    }
                }
                // right shape
                .right__shape {
                    img {
                        @include resp($xxl) {
                            width: 140px !important;
                        }
                    }
                }
            }
        }
    }
}

// right section table
.tools {
    .right {
        background-color: #f0f0f0;
        padding-left: 12px;
        padding-right: 12px;
        border-bottom-left-radius: 25px;
        @include resp($lg) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @include resp($xxl) {
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 35px !important;
            width: 80% !important;
        }
        // heightlight section
        .highlight__section {
            border-bottom-left-radius: 15px;
        }

        // ------------
        // main img and table
        .highlight__section {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            // image table
            .high__img {
                height: 420px;
                @include resp($xl) {
                    height: 425px;
                }
                @include resp($xxl) {
                    height: 380px;
                }
                .svg__wrap {
                    padding-top: 40px !important;
                    padding-bottom: 40px !important;
                    @include resp($xl) {
                        padding-top: 55px !important;
                        padding-bottom: 55px !important;
                    }
                    @include resp($xxl) {
                        padding-top: 70px !important;
                        padding-bottom: 70px !important;
                    }
                    svg.svg {
                        width: 300px;
                        @include resp($lg) {
                            width: 320px;
                        }
                        @include resp($xl) {
                            width: 350px;
                        }
                        @include resp($xxl) {
                            width: 420px;
                        }
                    }
                }
            }
        }

        // right bottom big table -----------------
        .bottom__table {
            width: 100%;
            #inside__table {
                width: 100%;
                background-color: #f0f0f0;
                // rows
                tr {
                    border-bottom: $mini__border;
                    border-left: $mini__border;
                    border-top: $mini__border;
                    &:first-child {
                        border-bottom: none;
                        // background-color: #F7F7F7;
                    }
                    &:last-child {
                        background-color: white !important;
                        border-top: none;
                        td {
                            padding-bottom: 4px !important;
                            padding-bottom: 5px !important;
                            border-color: #959dac;
                            @include resp($xl) {
                                padding-top: 5px !important;
                                padding-bottom: 7px !important;
                            }
                            .para {
                                color: #4e5055 !important;
                            }
                        }
                    }
                    td {
                        padding: 0px !important;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase !important;
                        border-right: 0.5px solid black;
                        // input
                        select {
                            background-color: white !important;
                            padding: 0px;
                            border-radius: 0px;
                            border: none;
                            width: 100%;
                            height: 100%;
                        }
                        // paragraph
                        .para,
                        select {
                            font-size: 10px;
                            @include resp($lg) {
                                font-size: 13px;
                                font-weight: 600;
                                color: black !important;
                            }
                        }
                        img {
                            width: 10px !important;
                            margin-top: 4px;
                            margin-right: 5px;
                        }
                        // unit cell
                        @at-root .unit__cell {
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-top: $mini__border;
                            .unit.para {
                                color: #959dac !important;
                                text-transform: lowercase !important;
                            }
                            // border-top: 0.3px solid lighten($color: #000000, $amount: 70);
                        }
                        // unit texts
                        .unit.para {
                            color: #959dac !important;
                            text-transform: lowercase !important;
                        }
                    }

                    // row two
                    .row__two {
                        display: grid !important;
                        grid-template-rows: 2fr 1fr;
                        grid-template-columns: 1fr;
                        justify-items: center;
                        align-items: center;
                    }
                    // row three
                    .row__three {
                        display: grid !important;
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(3, 1fr);
                        justify-items: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        .cell {
                            width: 100%;
                            height: 100%;
                            border: none;
                            &:first-child {
                                border-bottom: $mini__border;
                            }
                            .mini__cell {
                                border-right: $mini__border;
                                &:last-child {
                                    border-right: none;
                                }
                            }
                            // border-top: 0.3px solid lighten($color: #000000, $amount: 70);
                        }
                    }
                }
                // first row / top row
                .top__row {
                    display: grid;
                    grid-template-columns: 1.5fr 1.5fr 2fr 5fr 4fr 1.75fr 1.5fr 2fr;
                }
                // bottom row
                .bottom__row {
                    display: grid;
                    grid-template-columns:
                        repeat(2, 1.5fr) 2fr repeat(5, 1fr) repeat(4, 1fr)
                        1.75fr 1.5fr 1fr 1fr;
                }
            }
            // parent cells
            .parent__cell {
                .cell {
                    border-right: $mini__border !important;
                    &:last-child {
                        border-right: none !important;
                    }
                }
                .unit__cell {
                    border-top: $mini__border !important;
                }
            }
        }
        // right bottom btn list
        .bottom__btn__list {
            background-color: #f0f0f0;
            @include resp($xxl) {
                align-items: center !important;
            }
            .item {
                padding-left: 15px;
                padding-right: 15px;
                @include resp($xl) {
                    flex-flow: row wrap !important;
                    justify-content: space-between;
                    align-items: center !important;
                    button {
                        margin-top: 0px !important;
                    }
                    .col__wrap {
                        flex-flow: row wrap !important;
                    }
                }
                @include resp($xxl) {
                    justify-content: space-between;
                    .col__wrap {
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
            // fix paragraph width
            .fix__para__width {
                // width: 180px;
                width: 119px;
            }
            .para {
                font-size: 16px;
                color: black !important;
                font-weight: 500;
            }
            input {
                background-color: white!important;
                border: none;
                border-radius: 10px;
                height: 28px;
                @include resp($xl) {
                    margin-top: 0px !important;
                }
                @include resp($xxl) {
                    height: 35px;
                }
            }
            // custom button
            .cus__btn {
                padding: 6px 15px;
                border: none;
                h6 {
                    font-size: 13px;
                }
                .icon__wrap {
                    font-size: 13px;
                }
                @include resp($xxl) {
                    padding: 10px 26px;
                    h6 {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    .icon__wrap {
                        font-size: 16px;
                        margin-right: 16px !important;
                    }
                }
            }

            // button container
        }
    }
}
