// system files
@import "colors";
// fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

$prim__f: "Heebo", sans-serif;
// break points
$xs: 576px; //Small
$sm: 768px; //Large
$md: 992px; //Extra large
$lg: 1200px; //xtra larger
$xl: 1400px; //xtra large
$xxl: 1800px; //xtra xtra large

// variable 


// extend
.texts__pro {
    font-family: $prim__f;
    color: $main__text;
}

.bold {
    font-weight: 600;
}
// mixing
@mixin maxresp($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin minresp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin py($w) {
    padding-top: $w!important;
    padding-bottom: $w!important;
}

// common style
body {
    overflow-x: hidden;
    @include minresp($md) {
        background-color: #f5f5f5;
    }
}
a,
button {
    outline: none;
}
p {
    margin-bottom: 0px;
}
.container {
    @include minresp(1400px) {
        max-width: 1320px !important;
    }
    @include minresp(1800px) {
        max-width: 1720px !important;
    }
}

.border__bottom {
    border-bottom: 3px solid #d2d4d6 !important;
}
.border__top {
    border-top: 3px solid #d2d4d6 !important;
}
label {
    color: $label;
    font-weight: 600;
}
input {
    background-color: $formInputbg !important;
    border: 1px solid darken($color: $formInputbg, $amount: 40);
}

:root {
    font-family: $prim__f;
}

.form__btn {
    width: 48%;
    max-width: 180px;
    color: white;
    background-color: #959dac;
    border-radius: 25px;
    padding: 0px 0px 3px 0px;
    font-weight: 600;
    @include minresp($sm) {
        padding: 2px 0px 5px 0px;
        font-size: 18px;
        width: 47%;
        max-width: initial;
    }
    @include minresp($xl) {
        font-size: 20px;
    }
    &:hover {
        background-color: $btn__black;
    }
}

.form__btn__black {
    @extend .form__btn;
    background-color: $btn__black;
    &:hover {
        background-color: #959dac;
    }
}

.para {
    font-size: calc(16px + (22 - 16) * ((100vw - 900px) / (1950 - 900)));
    color: #989898 !important;
}

// accordion header sm
.com_acco_head_sm {
    background-color: $header__bg;
    padding: 8px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @include resp ($sm) {
        @include py(11px);
    }
    @include resp ($md) {
        @include py(15px);
    }
    h1 {
        font-size: 20px;
        // font-size: 17px;
        // @include resp($sm) {
        //     font-size: 18.5px;
        // }
        // @include resp($md) {
        // }
    }
}

.cus__btn {
    padding: 4px 15px;
    border-radius: 25px;
    border: 2px solid #959DAC;
    font-size: 14px;
    color: #959DAC;
    font-weight: 500;
}

.cus__btn__blue {
    @extend .cus__btn;
    background-color: #2bc454;
}

.h100 {
    height: 100%;
}
.h75 {
    height: 100%;
}
.h50 {
    height: 100%;
}
.h25 {
    height: 100%;
}


// files ----------------------------------- >
@import "new__user__page";
@import "new__user__form";
@import "example-of-order-page";
@import "_example-of-order-page-phone";
@import '_tools';
@import '_cage';
