// utilities
@import "colors";
// fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

$prim__f: "Heebo", sans-serif;
// body style

// break points
$xm: 576px; //Small
$sm: 768px; //Large
$md: 992px; //Extra large
$lg: 1200px; //xtra larger
$xl: 1400px; //xtra large
$xxl: 1800px; //xtra xtra large

// extend
.texts__pro {
    font-family: $prim__f;
    color: $main__text;
}

// mixing
@mixin maxresp($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin minresp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
// common style
body {
    @include minresp($md) {
        background-color: #f5f5f5;
    }
}
a,
button {
    outline: none;
}
p {
    margin-bottom: 0px;
}
.container {
    @include minresp(1400px) {
        max-width: 1320px !important;
    }
    @include minresp(1800px) {
        max-width: 1720px !important;
    }
}

.border__bottom {
    border-bottom: 3px solid #d2d4d6 !important;
}
.border__top {
    border-top: 3px solid #d2d4d6 !important;
}
label {
    color: $label;
    font-weight: 600;
}
input {
    background-color: $formInputbg !important;
    border: 1px solid darken($color: $formInputbg, $amount: 40);
}

:root {
    font-family: $prim__f;
}

.form__btn {
    width: 48%;
    max-width: 180px;
    color: white;
    background-color: #959DAC;
    border-radius: 25px;
    padding: 0px 0px 3px 0px;
    font-weight: 600;
    @include minresp($sm) {
        padding: 2px 0px 5px 0px;
        font-size: 18px;
        width: 47%;
        max-width: initial;
    }
    @include minresp($xl) {
        font-size: 20px;
    }
    &:hover {
        background-color: $btn__black;
    }
}

.form__btn__black {
    @extend .form__btn;
    background-color: $btn__black;
    &:hover {
        background-color: #959DAC;
    }
}

// files ----------------------------------- >
@import "new__user__page";
@import "new__user__form";
