// fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

$prim__f: "Heebo", sans-serif;

// colors
$main__text: #353d4a;
$dark__500: #383b3e;
$dark: #262729;
$border: #8c8c8d;

// break points
$xm: 576px; //Small
$sm: 768px; //Large
$md: 992px; //Extra large
$lg: 1200px; //xtra larger
$xl: 1400px; //xtra large
$xxl: 1800px; //xtra xtra large

// extend
.texts__pro {
    font-family: $prim__f;
    color: $main__text;
}

// mixing
@mixin maxresp($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin minresp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
@mixin resp($width) {
    @include minresp($width);
}
// common style
.container {
    @include minresp(1400px) {
        max-width: 1320px !important;
    }
    @include minresp(1800px) {
        max-width: 1720px !important;
    }
}

//------------------ new user style section ----------------------
#head {
    background-color: $dark__500;
    // navbar
    #navbar {
        .row {
            img {
                width: 50px;
                @include minresp($md) {
                    width: 34px;
                }
            }
            .brand__icon {
                width: 115px;
                @include minresp($xl) {
                    width: 135px;
                }
                @include minresp($xxl) {
                    width: 150px;
                }
            }
        }
    }
    // accordion
    .sm__accordion {
        font-family: $prim__f;
        background-color: $dark;
        .file__icon {
            width: 25px;
        }
        .file__texts {
            font-weight: 400;
            font-size: 14px;
            margin-left: 10px;
        }
        .sm__file__icon {
            width: 20px;
        }
        .sm__file__text {
            font-size: 12px;
        }
    }
}
// main order table section --------------------
#order__details__table {
    .order__header {
        .row {
            @include minresp($md) {
                background-color: #374051;
            }
            border-radius: 25px 25px 0px 0px;
            // border-bottom: 2px solid $dark__500;
            aside {
                h2 {
                    color: $main__text !important;
                    @include minresp($lg) {
                        color: white !important;
                    }
                }
            }
            .cus__border {
                border-bottom: 3px solid lighten($dark__500, $amount: 60);
            }
        }
    }
}

// footer section
footer {
    background-color: $dark__500;
    .brand__icon {
        width: 115px;
        @include minresp($xl) {
            width: 135px;
        }
        @include minresp($xxl) {
            width: 150px;
        }
    }
    // container
    .container {
        padding-top: 75px;
        padding-bottom: 75px;
        @include minresp($lg) {
            padding-top: 85px;
            padding-bottom: 85px;
        }
        @include minresp($xl) {
            padding-bottom: 100px;
            padding-top: 100px;
        }
    }
    // left section
    .brand__slogan {
        @include minresp($xxl) {
            max-width: 50%;
            flex: 0 0 50%;
        }
        .wrap {
            img {
                margin-bottom: 10px;
            }
            h3 {
                @extend .texts__pro;
                font-size: 20px;
                font-weight: 400;
                @include minresp($lg) {
                    font-size: 22px;
                }
                @include minresp($xl) {
                    font-size: 24px;
                }
            }
        }
    }

    // right side
    .link__list {
        @include minresp($xl) {
            max-width: 60%;
            flex: 0 0 60%;
        }
        @include minresp($xxl) {
            max-width: 50%;
            flex: 0 0 50%;
        }
        .row {
            @include minresp($xxl) {
                justify-content: space-between;
            }
            h3 {
                @extend .texts__pro;
                font-weight: 400;
                font-size: 16px;
                @include minresp($xl) {
                    font-size: 17px;
                }
            }
            ul {
                list-style: none;
                li a {
                    display: block;
                    @extend h3;
                    color: #959dac;
                }
            }
        }
    }
}
